--
-- PostgreSQL database dump
--

\restrict sZjAeguVZzKGGR3WvinOe9NBHpDrtFbEImWxcIOKfjemSY6ygcI4EGf42pasQ7k

-- Dumped from database version 18.3
-- Dumped by pg_dump version 18.3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: access_logs; Type: TABLE; Schema: public; Owner: shl_user
--

CREATE TABLE public.access_logs (
    id character varying NOT NULL,
    conversation_id character varying,
    endpoint character varying,
    status_code integer,
    response_time_ms integer,
    error_message text,
    created_at timestamp without time zone
);


ALTER TABLE public.access_logs OWNER TO shl_user;

--
-- Name: conversations; Type: TABLE; Schema: public; Owner: shl_user
--

CREATE TABLE public.conversations (
    id character varying NOT NULL,
    created_at timestamp without time zone,
    updated_at timestamp without time zone,
    turns integer,
    user_intent text,
    constraints json,
    is_completed boolean
);


ALTER TABLE public.conversations OWNER TO shl_user;

--
-- Name: messages; Type: TABLE; Schema: public; Owner: shl_user
--

CREATE TABLE public.messages (
    id character varying NOT NULL,
    conversation_id character varying,
    role character varying,
    content text,
    created_at timestamp without time zone
);


ALTER TABLE public.messages OWNER TO shl_user;

--
-- Name: recommendations; Type: TABLE; Schema: public; Owner: shl_user
--

CREATE TABLE public.recommendations (
    id character varying NOT NULL,
    conversation_id character varying,
    assessment_name character varying,
    assessment_url character varying,
    test_type character varying,
    rank integer,
    turn_number integer,
    created_at timestamp without time zone
);


ALTER TABLE public.recommendations OWNER TO shl_user;

--
-- Data for Name: access_logs; Type: TABLE DATA; Schema: public; Owner: shl_user
--

COPY public.access_logs (id, conversation_id, endpoint, status_code, response_time_ms, error_message, created_at) FROM stdin;
\.


--
-- Data for Name: conversations; Type: TABLE DATA; Schema: public; Owner: shl_user
--

COPY public.conversations (id, created_at, updated_at, turns, user_intent, constraints, is_completed) FROM stdin;
\.


--
-- Data for Name: messages; Type: TABLE DATA; Schema: public; Owner: shl_user
--

COPY public.messages (id, conversation_id, role, content, created_at) FROM stdin;
\.


--
-- Data for Name: recommendations; Type: TABLE DATA; Schema: public; Owner: shl_user
--

COPY public.recommendations (id, conversation_id, assessment_name, assessment_url, test_type, rank, turn_number, created_at) FROM stdin;
\.


--
-- Name: access_logs access_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: shl_user
--

ALTER TABLE ONLY public.access_logs
    ADD CONSTRAINT access_logs_pkey PRIMARY KEY (id);


--
-- Name: conversations conversations_pkey; Type: CONSTRAINT; Schema: public; Owner: shl_user
--

ALTER TABLE ONLY public.conversations
    ADD CONSTRAINT conversations_pkey PRIMARY KEY (id);


--
-- Name: messages messages_pkey; Type: CONSTRAINT; Schema: public; Owner: shl_user
--

ALTER TABLE ONLY public.messages
    ADD CONSTRAINT messages_pkey PRIMARY KEY (id);


--
-- Name: recommendations recommendations_pkey; Type: CONSTRAINT; Schema: public; Owner: shl_user
--

ALTER TABLE ONLY public.recommendations
    ADD CONSTRAINT recommendations_pkey PRIMARY KEY (id);


--
-- Name: access_logs access_logs_conversation_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: shl_user
--

ALTER TABLE ONLY public.access_logs
    ADD CONSTRAINT access_logs_conversation_id_fkey FOREIGN KEY (conversation_id) REFERENCES public.conversations(id);


--
-- Name: messages messages_conversation_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: shl_user
--

ALTER TABLE ONLY public.messages
    ADD CONSTRAINT messages_conversation_id_fkey FOREIGN KEY (conversation_id) REFERENCES public.conversations(id);


--
-- Name: recommendations recommendations_conversation_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: shl_user
--

ALTER TABLE ONLY public.recommendations
    ADD CONSTRAINT recommendations_conversation_id_fkey FOREIGN KEY (conversation_id) REFERENCES public.conversations(id);


--
-- PostgreSQL database dump complete
--

\unrestrict sZjAeguVZzKGGR3WvinOe9NBHpDrtFbEImWxcIOKfjemSY6ygcI4EGf42pasQ7k

